Kivy challenger app/網頁挑戰審核與資料庫/Workorder_web/Workorder_web/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.178.8/SYNCWebService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.178.8/SYNCWebService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SSOLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:SSOLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_SSOLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SSOLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductionScheduleReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductionScheduleReport" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductionScheduleReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductionScheduleReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DailyProductionReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DailyProductionReport" />
  </wsdl:message>
  <wsdl:message name="IService1_DailyProductionReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DailyProductionReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductionDailyReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductionDailyReport" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductionDailyReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductionDailyReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAssignment_InputMessage">
    <wsdl:part name="parameters" element="tns:getAssignment" />
  </wsdl:message>
  <wsdl:message name="IService1_getAssignment_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPart" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SSOLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SSOLogin" message="tns:IService1_SSOLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SSOLoginResponse" message="tns:IService1_SSOLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductionScheduleReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductionScheduleReport" message="tns:IService1_ProductionScheduleReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductionScheduleReportResponse" message="tns:IService1_ProductionScheduleReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DailyProductionReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DailyProductionReport" message="tns:IService1_DailyProductionReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DailyProductionReportResponse" message="tns:IService1_DailyProductionReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductionDailyReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductionDailyReport" message="tns:IService1_ProductionDailyReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductionDailyReportResponse" message="tns:IService1_ProductionDailyReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAssignment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAssignment" message="tns:IService1_getAssignment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAssignmentResponse" message="tns:IService1_getAssignment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPart" message="tns:IService1_GetAllPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPartResponse" message="tns:IService1_GetAllPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrder" message="tns:IService1_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderResponse" message="tns:IService1_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProductPrice" message="tns:IService1_GetProductPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductPriceResponse" message="tns:IService1_GetProductPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SSOLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/SSOLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductionScheduleReport">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductionScheduleReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DailyProductionReport">
      <soap:operation soapAction="http://tempuri.org/IService1/DailyProductionReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductionDailyReport">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductionDailyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssignment">
      <soap:operation soapAction="http://tempuri.org/IService1/getAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPart">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProductPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.178.8/SYNCWebService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>